/********************************************************************************
Header
********************************************************************************/

/********************************************************************************
Footer
********************************************************************************/

/********************************************************************************
Home
********************************************************************************/
#homeBanner img {
    width: 100%;
    height: auto;
}

#homeContentTop {
    width: 100%;
    margin-top: 3em;
}

#homeContentTop p {
    height: 1em;
    text-align: left;
    font-size: 0.8em;
    color: #000000;
    padding-top: 1em;
}

.homeContainersOut{
    float: left;
    width: 30%;
    margin-left: 1.25%;
    margin-right: 1.25%;
}

.homeTitles {
    text-align: center;
}

.homeTitles h1 {
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}

.homeContainersIn {
    margin-top: 1.5em;
    margin-left: 10%;
    width: 90%;
    clear: left;
    float: left;
    background-color: white;
}

.homeContainersIn img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#homeImgVetrina {
    padding-top: 17.5%;
    padding-bottom: 18%;
}

.homeInfo {
    padding: 1em;
}

.homeInfo h1 {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.footerTopBlockTitle_home {
    border-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.homeInfo h2 {
    font-size: 0.9em;
    padding-top: 1em;
}

.homeInfo a {
    color: #000000;
    display: inline-block;
    position: relative;
}

.homeInfo a:hover {
    color: #D50000;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

#homeRegistrati {
    width: 100%;
    float: left;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#homeRegistrati p {
    text-align: center;
    color: #000000;
    font-size: 1.5em;
}

#homeRegistrati a:hover {
    color: #D50000;
}

#homeTitleBottom {
    float: left;
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#homeTitleBottom h1 {
    text-align: center;
    color: black;
}

#homeLoghi {
    float: left;
    clear: left;
    width: 100%;
}

#homeLoghi img {
    width: 8%;
    margin-left: 4%;
    text-decoration: none;
}

#homeLoghi a {
    text-decoration: none;
}

/********************************************************************************
Configurazioni
********************************************************************************/

/********************************************************************************
Catalogo
********************************************************************************/

/********************************************************************************
Categorie
********************************************************************************/

/********************************************************************************
Contatti
********************************************************************************/

/********************************************************************************
Bordo (home, catalogo, categorie, ?other?)
********************************************************************************/

@media only screen and (min-width: 956px) {

    #homeTitleBottom:after {
        content: "";
        position: absolute;
        top: -3px;
        left: 20px;
    }

    #homeTitleBottom:after {
        right: 20px;
        height: 3px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E), to (transparent));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E, transparent);
    }

    #homeTitleBottom {
        position: relative;
    }


    .homeContainersIn:before,
    .homeContainersIn:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .homeContainersIn:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    .homeContainersIn:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

     .homeContainersIn {
        position: relative;
    }

}
