@media print {
    @charset "UTF-8";
    /******************************************************************************
        Generale
    *******************************************************************************/
    * {
        padding: 0;
        margin: 0;
    }
    body {
        font-family: "Times New Roman", Times, serif;
        background-color: #FFF;
    }
    /******************************************************************
        Header & Footer
    ******************************************************************/
    #headerContainer, #headerDropMenu, #footer{
        display: none;
    }
    /******************************************************************
        Home
    ******************************************************************/
    .homeInfo h1 {
        font-size: 1.2em;
        padding-bottom: 0.5em;
    }
    .homeInfo a {
        text-decoration: none;
    }
    .homeInfo p {
        padding-bottom: 1em;
    }
    #homeRegistrati {
        margin: 0;
    }
    #homeTitleBottom {
        margin: 1em;
    }
    /******************************************************************
    Configurazioni
    ******************************************************************/
    #configHorizontalMenu h1{
        color: #000;
    }
    .configConfigurazioniTop {
        width: 100%;
        background-color: #FFF;
    }
    .configImg {
        width: 40%;
        float: left;
        margin-top: 3em;
    }
    .configImg img {
        max-width: 70%;
    }
    .configDescription {
        background-color: #FFF;
        padding: 2em;
        width: 50%;
    }
    .configConfigurazioniTop h1, .configConfigurazioniTop p {
        color: #000;
    }
    .configConfigurazioniTop h2 {
        color: #000;
        padding-top: 1em;
    }
    .configSpecification {
        padding-top: 2.5em;
    }
    .configTornaSu, .configTornaSuMobile{
        display: none;
    }
    /******************************************************************
        Catalogo
    ******************************************************************/
    .catalogContainerOut {
        margin: 2em 0 0 4%;
        width: 20%;
        float: left;
        text-align: center;
    }
    /********************************************************************************
        Menù Verticale (catalogo, categorie)
    ********************************************************************************/
    #catalogVerticalMenu{
        display: none;
    }
    /******************************************************************
        Categorie
    ******************************************************************/
    .catalogInsideProduct {
        margin: 2em 0 3em 4%;
        width: 20%;
        float: left;
        text-align: center;
    }
    .catalogInsideProductPrice h3 {
        margin-top: 4%;
        float:left;
        width: 100%;
    }
    .catalogInsideProductAvailability h3 {
        float: left;
        width: 100%;
    }
    /******************************************************************
    Contatti
    ******************************************************************/
    #contactsWho, #contactsWhere, #contactsHow {
        float: none;
        width: 100%;
        margin: 2em 0;
    }
    #contactsWho img, #contactsWhere img, #contactsHow img{
        display: none;
    }
    #contactsWho p, #contactsWhere p, #contactsHow p{
        padding: 1em 0;
    }
    /******************************************************************
    404
    ******************************************************************/
    #notFoundContainer {
        width: 100%;
        padding: 2em 0;
        margin: 0;
    }
    #notFoundContainer img {
        margin-top: 1em;
        width: 6em;
    }
    #notFoundContainer p {
        padding: 1em 0;
        font-size: 1.2em;
    }
    #notFoundBack {
        display: none;
    }
}
