/******************************************************************
Header
******************************************************************/

/******************************************************************
Footer
******************************************************************/

/******************************************************************
Home
******************************************************************/

@media print {

    .homeInfo h1 {
        font-size: 1.2em;
        padding-bottom: 0.5em;
    }

    .homeInfo a {
        text-decoration: none;
    }

    .homeInfo p {
        padding-bottom: 1em;
    }

}

/******************************************************************
Configurazioni
******************************************************************/

/******************************************************************
Catalogo
******************************************************************/

/******************************************************************
Categorie
******************************************************************/

/******************************************************************
Contatti
******************************************************************/
