#titolo_schede_video {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#titolo_schede_video h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.prodotto_inizio_riga:before, .prodotto_inizio_riga:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

.prodotto_inizio_riga:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

.prodotto_inizio_riga:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

.prodotto_inizio_riga {
    margin-top: 1.5em;
    margin-left: 6%;
    width: 20%;
    float:left;
    background-color: white;
    position: relative;
}

.prodotto:before, .prodotto:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

.prodotto:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

.prodotto:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

.prodotto {
    margin-top: 1.5em;
    margin-left: 2%;
    width: 20%;
    float:left;
    background-color: white;
    position: relative;
}

img {
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    width: 80%;
    text-align: left;
}

h3{
    margin-top: 5%;
}
