#alimentatori_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#alimentatori_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#alimentatori_catalogo {
    margin-left: 7.9%;
    width: 15%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#case_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#case_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#case_catalogo {
    margin-left: 7.9%;
    width: 15%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#cpu_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#cpu_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#cpu_catalogo {
    margin-left: 7.9%;
    width: 15%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#cuffie_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#cuffie_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#cuffie_catalogo {
    margin-left: 7.9%;
    width: 15%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#memorie_interne_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#memorie_interne_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#memorie_interne_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#memorie_ram_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#memorie_ram_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#memorie_ram_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#monitor_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#monitor_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#monitor_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#mouse_e_tastiere_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#mouse_e_tastiere_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#mouse_e_tastiere_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#raffreddamento_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#raffreddamento_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#raffreddamento_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#schede_audio_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#schede_audio_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#schede_audio_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#schede_madri_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#schede_madri_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#schede_madri_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#schede_video_catalogo h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#schede_video_catalogo a{
    text-decoration: none;
    color: #FAFAFA;
}

#schede_video_catalogo {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}
