/* scritte centrate in nero */
#banner img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

/* dimensione/margin immagini */
.icona_categoria{
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 1em;
    margin: 2em;
}

/* larghezza/posizione colonne */
.riquadro_esterno {
    margin-top: 1.5em;
    margin-left: 4%;
    width: 20%;
    float: left;
}

/* posizione immagine "all'interno del bordo" */
.riquadro_interno {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

/* bordi */
.riquadro_interno:before, .riquadro_interno:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

.riquadro_interno:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

.riquadro_interno:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

@media only screen and (max-width: 956px) {

    .riquadro_esterno {
        width: 100%;
        float: none;
        margin-left: 0em;
    }
    .riquadro_interno{
        width: 80%;
        float: none;
        margin-left: 10%;
        padding: 0em;
    }
}
