/*****************************
dimensioni scritte

desktop (em)
h1 2
h2 1.5

tablet
h1 1.9
h2 1.4

phone
h1 1.4
h2 0.87

*****************************/

/* titolo pagina h1 */

#titolo_catalogo {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: static;
}

#titolo_catalogo h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

/* titoli categorie h2 */

.riquadro_esterno a {
    text-decoration: none;
    color: #000000;
}

.riquadro_esterno h2 {
    text-align: center;
    font-size: 1.5em;
}

/* dimensione/margin immagini */

.icona_categoria {
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 1em;
    margin: 2em;
}

/* larghezza/posizione colonne */

.riquadro_esterno {
    margin-top: 1em;
    margin-left: 4%;
    width: 20%;
    float: left;
    text-align: center;
}

/* posizione immagine "all'interno del bordo" */

.riquadro_interno {
    text-align: center;
    margin-top: 1em;
    float: left;
    padding: 1em;
    background-color: white;
    position: relative;
}

/******************************************************************
 Media Query Home
******************************************************************/

@media only screen and (max-width: 955px) {

    #titolo_catalogo h1 {
        font-size: 1.9em;
    }

    #titolo_catalogo {
        position: static;
        margin-top: 0em;
        padding-top: 5em;
    }

    .riquadro_esterno h2 {
        position: static;
        font-size: 1.4em;
    }

    .riquadro_esterno {
        position: static;
        width: 30%;
        margin-left: 2.5%;
    }

    .riquadro_interno {
        position: static;
        width: 80%;
        float: none;
        margin-left: 10%;
        padding: 0em;
    }
}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #titolo_catalogo h1 {
        font-size: 1.4em;
    }

    .riquadro_esterno h2 {
        font-size: 0.87em;
    }

    .riquadro_esterno {
        position: static;
        width: 40%;
        margin-left: 7%;
        margin-top: 0.5em;
    }

    .riquadro_interno {
        position: static;
        width: 100%
        float: none;
        margin: 0%;
        padding: 0em;
    }
}


@media only screen and (min-width: 956px) {

    /* bordi */

    .riquadro_interno:before,
    .riquadro_interno:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .riquadro_interno:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    .riquadro_interno:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }
}
