/* immagini antemprima */
.icona_categoria{
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 1em;
    margin: 2em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}


/* div generale - 4 riquadri prima riga */

#alimentatori_catalogo {
    margin-top: 1.5em;
    margin-left: 4%;
    width: 20%;
    float: left;
}

#riquadro_alimentatori {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#case_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#cpu_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#cuffie_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float:left;
}

/* alimentatori */

#titolo_alimentatori a{
    text-decoration: none;
    color: #000000;
}


#riquadro_alimentatori:before, #riquadro_alimentatori:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_alimentatori:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_alimentatori:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* case */

#titolo_case a{
    text-decoration: none;
    color: #000000;
}

#riquadro_case {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}


#riquadro_case:before, #riquadro_case:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_case:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_case:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* cpu */


#titolo_cpu a{
    text-decoration: none;
    color: #000000;
}

#riquadro_cpu {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}


#riquadro_cpu:before, #riquadro_cpu:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_cpu:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_cpu:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* cuffie */

#titolo_cuffie a{
    text-decoration: none;
    color: #000000;
}

#riquadro_cuffie {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_cuffie:before, #riquadro_cuffie:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_cuffie:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_cuffie:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* memorie interne */

#memorie_interne_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_memorie_interne a{
    text-decoration: none;
    color: #000000;
}

#riquadro_memorie_interne {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_memorie_interne:before, #riquadro_memorie_interne:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_memorie_interne:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_memorie_interne:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* memorie ram */

#memorie_ram_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_memorie_ram a{
    text-decoration: none;
    color: #000000;
}

#riquadro_memorie_ram {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_memorie_ram:before, #riquadro_memorie_ram:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_memorie_ram:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_memorie_ram:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}


/* monitor */

#monitor_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_monitor a{
    text-decoration: none;
    color: #000000;
}

#riquadro_monitor {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_monitor:before, #riquadro_monitor:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_monitor:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_monitor:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* mouse_e_tastiere */

#mouse_e_tastiere_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_mouse_e_tastiere a{
    text-decoration: none;
    color: #000000;
}

#riquadro_mouse_e_tastiere {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_mouse_e_tastiere:before, #riquadro_mouse_e_tastiere:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_mouse_e_tastiere:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_mouse_e_tastiere:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* raffreddamento */

#raffreddamento_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_raffreddamento a{
    text-decoration: none;
    color: #000000;
}

#riquadro_raffreddamento {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_raffreddamento:before, #riquadro_raffreddamento:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_raffreddamento:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_raffreddamento:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* schede audio */

#schede_audio_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_schede_audio a{
    text-decoration: none;
    color: #000000;
}

#riquadro_schede_audio {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_schede_audio:before, #riquadro_schede_audio:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_schede_audio:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_schede_audio:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* schede madri */

#schede_madri_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_schede_madri a{
    text-decoration: none;
    color: #000000;
}

#riquadro_schede_madri {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_schede_madri:before, #riquadro_schede_madri:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_schede_madri:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_schede_madri:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}

/* schede video */

#schede_video_catalogo {
    margin-top: 1.5em;
    width: 20%;
    margin-left: 4%;
    float: left;
}

#titolo_schede_video a{
    text-decoration: none;
    color: #000000;
}

#riquadro_schede_video {
    text-align: center;
    margin-top: 1em;
    float:left;
    padding: 1em;
    background-color: white;
    position: relative;
}

#riquadro_schede_video:before, #riquadro_schede_video:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

#riquadro_schede_video:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(#9E9E9E, transparent);
  background-image: -o-linear-gradient(#9E9E9E, transparent);
}

#riquadro_schede_video:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
  background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}
