#configTitle {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.configConfigurazioniTop {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #424242;
    padding: 5%;
}

#configTitle h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

/* -- OLD CODE -- *
#configConfigurazione1 img {
    float: left;
    clear: left;
    width: 30%;
    padding-top: 3%;
    margin-left: 8%;
}
*/

.configImg{
    width: 40%;
    float: left;
}

.configImg img {
    max-width: 70%;
    margin: 5%;
}

.configDescription {
    float: left;
    background-color: #212121;
    padding: 2em;
    width: 52%;
}

#configConfigurazione1 {
    width: 90%;
    background-color: white;
}

#configConfigurazione2 {
    width: 90%;
    background-color: white;
}

#configConfigurazione3 {
    width: 90%;
    background-color: white;
}

.configConfigurazioniTop p {
    font-size: 1em;
    text-align: left;
    color: white;

}

.configConfigurazioniTop h2 {
    font-size: 1.5em;
    text-align: left;
    padding-top: 2em;
    color: white;
}

.configConfigurazioniTop h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.configSpecification {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.configSpecification h1 {
    font-size: 2em;
}

.configContainer1 {
    width: 25%;
    float: left;
    clear: left;
    margin-left: 5%;
    background-color: white;
    padding-top: 1em;
    font-size: 1.2em;
}

.configContainer2 {
    width: 25%;
    float: left;
    margin-left: 7.5%;
    background-color: white;
    padding-top: 1em;
    font-size: 1.2em;
}

.configContainer3 {
    width: 25%;
    float: left;
    margin-left: 7.5%;
    background-color: white;
    padding-top: 1em;
    font-size: 1.2em;
}

.configContainer1 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.configContainer2 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.configContainer3 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.configContainerSections {
    width: 100%;
    height: 1.5em;
    padding-bottom: 1.5em;
}

.configContainerSections p {
    font-size: 0.7em;
}

@media only screen and (max-width: 955px) {


    #configTitle {
        margin-top: 0em;
    }

    #configTitle h1 {
        font-size: 2em;
        padding-top: 3em;
        margin-top: 0em;

    }

    #configConfigurazione1 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    #configConfigurazione2 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    #configConfigurazione3 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    .configDescription {
        float: left;
        clear: left;
        margin: 2% 6% 2% 6%;
        width: 80%;
    }

    .configConfigurazioniTop p {
        font-size: 1.5em;
    }

    .configConfigurazioniTop h1 {
        font-size: 2.5em;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .configSpecification h1 {
        font-size: 2.5em;
    }

    .configContainerSections {
        height: 5em;
    }

    .configContainerSections p {
        font-size: 1em;
    }

    .configContainer1 {
        margin-bottom: 2em;
    }
    .configContainer2 {
        margin-bottom: 2em;
    }

    .configContainer3 {
        margin-bottom: 2em;
    }

    .configContainer1 h1 {
        font-size: 1.2em;

    }

    .configContainer2 h1 {
        font-size: 1.2em;

    }

    .configContainer3 h1 {
        font-size: 1.2em;

    }

    @media only screen and (max-width: 767px) {


    #configTitle h1 {
        font-size: 1em;
        padding-top: 5em;

    }

    #configConfigurazione1 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    #configConfigurazione2 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    #configConfigurazione3 img {
        width: 50%;
        margin: 2% 25% 2% 25%;

    }

    .configDescription {
        float: left;
        clear: left;
        margin: 2% 6% 2% 6%;
        width: 70%;
    }

    .configConfigurazioniTop p {
        font-size: 0.8em;
    }

    .configConfigurazioniTop h1 {
        font-size: 1.5em;
    }

    .configConfigurazioniTop h2 {
    font-size: 1em;
    }

    .configSpecification h1 {
    font-size: 1.2em;
    }

    .configContainerSections {
        height: 2em;
    }

    .configContainerSections p {
        font-size: 0.5em;
    }

    .configContainer1 {
        margin-bottom: 2em;
    }
    .configContainer2 {
        margin-bottom: 2em;
    }

    .configContainer3 {
        margin-bottom: 2em;
    }

    .configContainer1 h1 {
        font-size: 0.5em;
    }

    .configContainer2 h1 {
        font-size: 0.5em;
    }

    .configContainer3 h1 {
        font-size: 0.5em;
    }

}
