#titolo_config {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#titolo_config h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

#configurazione_1 {
    width: 100%;
    background-color: white;
}

#configurazione_1 img {
    float: left;
    clear: left;
    width: 30%;
    padding: 2em;
    margin-left: 5%;
}

#configurazione_2 {
    width:100%;
    background-color:white;
}

#configurazione_2 img {
    float: left;
    clear: left;
    width: 30%;
    padding: 2em;
    margin-left: 5%;
}

#configurazione_3 {
    width: 100%;
    background-color: white;
}

#configurazione_3 img {
    float: left;
    clear: left;
    width: 25%;
    margin-right: 5%;
    margin-top: 0.2em;
    padding: 2em;
    margin-left: 5%;
}

.top {
    width: 100%;
    float: left;
    background-color: #424242;
}

.descrizione_config {
    float: left;
    margin:2%;
    width: 50%;
    background-color: #212121;
    padding: 2em;
}

.top p {
    font-size: 1em;
    text-align: left;
    color: white;

}

.top h2 {
    font-size: 1.5em;
    text-align: left;
    padding-top: 2em;
    color: white;
}

.top h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.specifiche {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.riquadro_1 {
    width: 25%;
    float: left;
    clear: left;
    margin-left: 5%;
    background-color: white;
    padding-top: 1em;
}

.riquadro_2 {
    width: 25%;
    float: left;
    margin-left: 7.5%;
    background-color: white;
    padding-top: 1em;
}

.riquadro_3 {
    width: 25%;
    float: left;
    margin-left: 7.5%;
    background-color: white;
    padding-top: 1em;

}

.riquadro_1 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.riquadro_2 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.riquadro_3 h1 {
    font-size: 0.8em;
    color: #000000;
    text-align: left;
}

.corpo_riquadro {
    width: 100%;
    height: 1.5em;
    padding-bottom: 1.5em;
}

.corpo_riquadro p {
    font-size: 0.7em;
}
