#titolo1_configurazioni h1 {
    text-align: center;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#titolo1_configurazioni strong {
    color: white;
}

#titolo1_configurazioni {
    margin-left: 7.9%;
    width: 30%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#titolo2_configurazioni h1 {
    text-align: center;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#titolo2_configurazioni strong {
    color: white;
}

#titolo2_configurazioni {
    margin-left: 7.9%;
    width: 30%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}
