/********************************************************************************
    corpo contatti
********************************************************************************/

#corpo_contatti {
    width: 100%;
    padding-top: 2em;
}

.riquadri_contatti {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 11.5%;
    padding: 2%;
    background-color: #424242;
    width: 75%;
    float:left;
}

.riquadri_contatti h1 {
    text-align: center;
    color: white;
}

.riquadri_contatti p {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

