/********************************************************************************
    corpo contatti
********************************************************************************/

#corpo_contatti {
    width: 100%;
    padding-top: 2em;
}

#chi_siamo_contatti img {
    width: 8%;
    float: left;
    margin-left: 46%;
}

#chi_siamo_contatti h1 {
    text-align: center;
    color: black;
    padding-left: 0.8em;
    margin-left: 43%;
    float: left;
}

#chi_siamo_contatti p {
    text-align: left;
    font-size: 1.2em;
    color: black;
    float: left;
    clear: left;
}

#chi_siamo_contatti {
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 0.5em;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    background-color: white;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 30%;
}

#dove_trovarci_contatti img {
    width: 8%;
    float: left;
    margin-left: 46%;
}

#dove_trovarci_contatti h1 {
    text-align: center;
    color: black;
    padding-left: 0.8em;
    margin-left: 41.3%;
    float: left;
}

#dove_trovarci_contatti p {
    text-align: left;
    font-size: 1.2em;
    color: black;
    float: left;
    clear: left;
}

#dove_trovarci_contatti {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0.5em;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    background-color: white;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 33.5%;
}

#come_contattarci_contatti img {
    width: 7%;
    float: left;
    margin-left: 46%;
}

#come_contattarci_contatti h1 {
    text-align: center;
    color: black;
    padding-left: 0.8em;
    margin-left: 38.5%;
    float: left;
}

#come_contattarci_contatti ul {
    text-align: left;
    font-size: 1.2em;
    color: black;
    float: left;
    clear: left;
}

#come_contattarci_contatti {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0.5em;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    background-color: white;
    padding-left: 1.5em;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 28%;
}
