/********************************************************************************
    corpo contatti
********************************************************************************/

#corpo_contatti {
    width: 100%;
    padding-top: 2em;
}

#chi_siamo_contatti h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#chi_siamo_contatti p {
    text-align: left;
    font-size: 0.8em;
    color: #FAFAFA;
    padding-left: 1.4em;
}

#chi_siamo_contatti {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#dove_trovarci_contatti h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#dove_trovarci_contatti p {
    text-align: left;
    font-size: 0.8em;
    color: #FAFAFA;
    padding-left: 1.4em;
}

#dove_trovarci_contatti {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}

#come_contattarci_contatti h2 {
    text-align: left;
    color: #FAFAFA;
    padding-left: 0.8em;
}

#come_contattarci_contatti ul {
    text-align: left;
    font-size: 0.8em;
    color: #FAFAFA;
    padding-left: 1.4em;
}

#come_contattarci_contatti {
    margin-left: 7.9%;
    width: 23%;
    float:left;
    padding: 0.5em;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 0.1em;
    background-color: #616161;
    border-radius: 0.5em;
}
