#title_faq {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#title_faq h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.question_block {
    width: 90%;
    margin-top: 2.5em;
    background-color: white;
    margin-left: 5%;
    border-bottom: solid;
    border-bottom-width: 0.1em;;
}

.question {
    margin-top: 1em;
    color: black;
    font-size: 1.2em;
}

.answer {
    margin-bottom: 1em;
    color: black;
}
