/********************************************************************************
    Footer Top
********************************************************************************/
#footer_top {
    float:left;
    margin-top: 2em;
    background-color: #212121;
    width: 100%;
    font-size: 0.8em;
    color: #FAFAFA;
    border-style: solid;
    border-color: #757575;
    border-left: none;
    border-right: none;
}

#footer_top ul {
	list-style-type:none;
    padding-top: 0.5em;
}

#footer_top ul li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#footer_top a {
    text-decoration: none;
    color: #FAFAFA;
}

#footer_top a:hover {
    color: #D50000;
}

#footer_top h1 {
    color: #FAFAFA;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.block_title {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: #FAFAFA;
    border-bottom-width: 0.1em;
}

#account_footer {
    width: 20%;
    padding: 0.5em;
    float: left;
    margin-left: 4%;
}

#chi_siamo_footer {
    width: 20%;
    padding: 0.5em;
    float: left;
    margin-left: 2em;
}

#support_footer {
    width: 20%;
    padding: 0.5em;
    float: left;
    margin-left: 2em;
}

#social_footer {
    width: 20%;
    padding: 0.5em;
    float: left;
    margin-left: 2em;
    margin-right: 2.8em;
}

#social_footer h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
}

.loghi_social {
    width: 3em;
    float:left;
    padding: 1em;
}

/*******************************************************************
 Footer Bottom
*******************************************************************/

#footer_bottom {
    color:#212121;
    text-align: left;
}

#footer_bottom p {
    font-size: 0.8em;
    padding: 0.8em;
}

#diritti {
    width: 15%;
    float: left;
    margin-left: 20%;
}

#call_us {
    width: 15%;
    margin-left: 8%;
    margin-right: 8%;
    float: left;
}

#luogo {
    width: 15%;
    float: left;
    margin-right: 19%;

}

/******************************************************************
 Media query Footer
******************************************************************/

@media only screen and (max-width: 1023px) {

#footer_top {
    font-size: 1.5em;
}

#account_footer {
    width: 40%;
    margin-left: 7%;
    padding: 0.5em;
}

#chi_siamo_footer {
     width: 40%;
    margin-left: 0em;
    padding: 0.5em;
}

#support_footer {
    clear: left;
    width: 40%;
    margin-left: 7%;
    padding: 0.5em;
}

#social_footer {
    width: 40%;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0.5em;
}

#social_footer img {
    width: 1.5em;
    padding: 0.5em;
}

#footer_bottom {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#diritti {
    width: 20%;
    margin-left: 15%;
}

#call_us {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

#luogo {
    width: 20%;
    margin-right: 6%;
}


}
