/********************************************************************************
    Footer Top
********************************************************************************/
#footer_top {
    float:left;
    margin-top: 3em;
    background-color: #212121;
    width: 100%;
    font-size: 0.8em;
    color: #FAFAFA;
    border-style: solid;
    border-color: #D32F2F;
    border-left: none;
    border-right: none;
}

#footer_top ul {
	list-style-type:none;
    padding-left: 0;
}

#footer_top ul li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#footer_top a {
    text-decoration: none;
    color: #FAFAFA;
}

#footer_top a:hover {
    color: #D50000;
}

#footer_top h1 {
    color: #FAFAFA;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.block_title {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: #FAFAFA;
    border-bottom-width: 0.1em;
}

#chi_siamo_footer p{
    font-size: 1em;
    padding-top: 0.5em;
    margin-top: 0;
}

#account_footer {
    width: 20%;
    float: left;
    margin-left: 4%;
}

#chi_siamo_footer {
    width: 20%;
    float: left;
    margin-left: 4%;
}

#support_footer {
    width: 20%;
    float: left;
    margin-left: 4%;
}

#social_footer {
    width: 20%;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
}

#social_footer h2 {
    margin-bottom: 0.5em;
    margin-top: 0;
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: normal;
}

.loghi_social {
    width: 2.7em;
    float:left;
    padding: 4%;
}

/*******************************************************************
 Footer Bottom
*******************************************************************/

#footer_bottom {
    color:#212121;
    text-align: left;
}

#footer_bottom p {
    font-size: 0.8em;
    padding: 0.8em;
}

#diritti {
    width: 15%;
    float: left;
    margin-left: 20%;
}

#call_us {
    width: 15%;
    margin-left: 8%;
    margin-right: 8%;
    float: left;
}

#luogo {
    width: 15%;
    float: left;
    margin-right: 19%;

}

p {
    margin-top: 1em;
}

/******************************************************************
 Media Query Footer
******************************************************************/

@media only screen and (max-width: 955px) {

    #footer_top {
        font-size: 2em;
    }

    #account_footer {
        width: 80%;
        margin-left: 10%;
        padding: 0.5em;
    }

    #chi_siamo_footer {
        width: 80%;
        margin-left: 10%;
        padding: 0.5em;
    }

    #support_footer {
        width: 80%;
        margin-left: 10%;
        padding: 0.5em;
    }

    #social_footer {
        width: 80%;
        margin-left: 10%;
        padding: 0.5em;
    }

    #social_footer img {
        width: 2em;
        padding: 0.8em;
    }

    #footer_bottom {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    #diritti {
        width: 20%;
        margin-left: 15%;
    }

    #call_us {
        width: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #luogo {
        width: 20%;
        margin-right: 6%;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/
@media only screen and (max-width: 767px) {

    #footer_top {
        font-size: 0.8em;
    }

    #footer_bottom {
        font-size: 0.5em;
    }
}
