@charset "UTF-8";

/******************************************************************************
  General
*******************************************************************************/

* {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0;
    padding: 0em;
    margin: 0em;
}

html,body {
  height: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #424242;
}

/********************************************************************************
    Footer Top
********************************************************************************/
#footer_top {
    float:left;
    margin-top: 50%;
    background-color: #616161;
    width: 100%;
    font-size: 0.8em;
    color: #FAFAFA;
    border-style: solid;
    border-width: 0.1em;
    border-color: #757575;
    padding: 2em;
}

#footer_top ul {
	list-style-type:none;
    padding-top: 0.5em;
}

#footer_top ul li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#footer_top a {
    text-decoration: none;
    color: #FAFAFA;
}

#footer_top a:hover {
    color: #D50000;
}

#footer_top a:visited {
    color: #FFA726;
}

#footer_top h1 {
    color: #FAFAFA;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.block_title {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: #FAFAFA;
    border-bottom-width: 0.1em;
}

#account_footer {
    width: 20%;
    padding: 0.8em;
    float: left;
}

#chi_siamo_footer {
    width: 20%;
    padding: 0.8em;
    float: left;
    margin-left: 3em;
}

#support_footer {
    width: 20%;
    padding: 0.8em;
    float: left;
    margin-left: 3em;
}

#social_footer {
    width: 20%;
    padding: 0.8em;
    float: left;
    margin-left: 3em;
}

#social_footer h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
}

#social_footer img {
    width: 3em;
    float:left;
    padding: 1em;
}

/*******************************************************************
 Footer Bottom
*******************************************************************/

#footer_bottom {
    margin-top: 55%;
    color:#FAFAFA;
    text-align: center;
}

#footer_bottom p {
    font-size: 0.8em;
    padding: 0.8em;
}

#diritti {
    width: 10em;
    display: inline-block;
    text-align: left;
}

#call_us {
    width: 10em;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

#luogo {
    width: 10em;
    display: inline-block;
    text-align: left;

}

/******************************************************************
 Media query Footer
******************************************************************/

@media only screen and (max-width: 1023px) {

#footer_top {
    font-size: 1.5em;
}

#account_footer {
    width: 40%;
    margin-left: 5%;
}

#chi_siamo_footer {
     width: 40%;
    margin-left: 0.5em;
}

#support_footer {
    clear: left;
    width: 40%;
    margin-left: 5%;
}

#social_footer {
     width: 40%;
    margin-left: 0.5em;
}

#social_footer img {
    width: 1.5em;
    padding: 0.5em;
}

#footer_bottom {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#diritti {
    margin-left: 6%;
}

#call_us {
    margin-left: 3%;
    margin-right: 3%;
}

#luogo {
    clear: right;
    margin-right: 6%;
}


}
