
/********************************************************************************
    Banner
********************************************************************************/

#banner img{
    width: 100%;
}

/********************************************************************************
    Corpo home
********************************************************************************/

#corpo_home {
    width: 100%;
    padding-top: 2em;
}

#corpo_top_home {
    width: 100%;
    height: 70%;
}

#titoli_corpo_top {
    width: 100%;
    float: left;
}

#titoli_corpo_top h1 {
    font-size: 1.5em;
    color:#000000;
}

#titolo_vetrina {
    width: 10%;
    float: left;
    margin-left: 14%;
}

#titolo_promo {
    width: 10%;
    float: left;
    margin-left: 23%;
}

#titolo_novita {
    width: 10%;
    float: left;
    margin-left: 19%;
}

#corpo_top_home p {
    text-align: left;
    font-size: 0.7em;
    color: #000000;
    padding-top: 1em;
}

.riquadro {
    padding:1em;
}

.riquadro h1 {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.block_title_home {
    border-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.riquadro h2 {
    font-size: 0.8em;
    padding-top: 1em;
}

.riquadro a{
    text-decoration: none;
    color: #000000;
}

.riquadro a:hover {
    color:#D50000;
}

#vetrina_home {
    margin-top: 1.5em;
    margin-left: 3%;
    width: 28%;
    clear: left;
    float:left;
    padding: 0.5em;
    background-color: white;


}

#vetrina_home {
  position: relative;
}
#vetrina_home:before, #vetrina_home:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;

}
#vetrina_home:before {
  bottom: -2px;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(#9E9E9E, transparent);
  background-image: -moz-linear-gradient(transparent, #000);
  background-image: -o-linear-gradient(transparent, #000);
}
#vetrina_home:after {
  left: -2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#9E9E9E), to(transparent));
  background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
}
#vetrina_home img {
    width: 80%;
    padding: 0.8em;
    margin-left: 1.7em;
    margin-right: 1.7em;
}

#promo_home {
    margin-top: 1.5em;
    width: 28%;
    float:left;
    margin-left: 3em;
    padding: 0.5em;
    background-color: white;
    border-radius: 0.5em;
    border-color: #000000;
    border-width: 0.05em;
    border-style: solid;
}

#promo_home img{
    width: 80%;
    padding: 0.8em;
    margin-left: 1.7em;
    margin-right: 1.7em;
}

#novita_home {
    margin-top: 1.5em;
    width: 28%;
    float:left;
    margin-left: 3em;
    padding: 0.5em;
    background-color: white;
    border-radius: 0.5em;
    border-color: #000000;
    border-width: 0.05em;
    border-style: solid;
}

#novita_home img {
    width: 80%;
    padding: 0.8em;
    margin-left: 1.7em;
    margin-right: 1.7em;
}

#corpo_bottom_home {
    width: 100%;
    height: 30%;
    margin-top: 35%;
    text-align: center;
}

#corpo_bottom_home h1 {
    font-size: 2em;
    color: white;
}

#logo_intel img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 6%;
}

#logo_nvidia img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_asus img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_hp img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_dell img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_samsung img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_logitech img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
}

#logo_microsoft img {
    margin-top: 2em;
    float: left;
    width: 5%;
    padding: 1em;
    margin-left: 2em;
    margin-right: 8%;
}

/******************************************************************
 Media query home
******************************************************************/

@media only screen and (max-width: 1023px) {

    #titoli_corpo_top h1 {
    font-size: 1em;
    }

}
