
/********************************************************************************
Banner
********************************************************************************/

#banner img{
    width: 100%;
    height: auto;
}

/********************************************************************************
Corpo Home
********************************************************************************/


#corpo_top_home {
    width: 100%;
    margin-top: 3em;
}

#corpo_top_home p {
    height: 1em;
    text-align: left;
    font-size: 0.8em;
    color: #000000;
    padding-top: 1em;
}

.riquadro {
    padding:1em;
}

.riquadro h1 {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.block_title_home {
    border-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.riquadro h2 {
    font-size: 0.9em;
    padding-top: 1em;
}

.riquadro a{
    text-decoration: none;
    color: #000000;
}

.riquadro a:hover {
    color:#D50000;
}

#vetrina {
    float: left;
    width: 30%;
}

#titolo_vetrina {
    width: 10%;
    float: left;
    margin-left: 45%;
}

#titolo_vetrina h1 {
    font-size: 1.5em;
    color: #000000;
}

#vetrina_home {
    margin-top: 1.5em;
    margin-left: 10%;
    width: 90%;
    clear: left;
    float:left;
    background-color: white;
}

#vetrina_home img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#promo {
    float: left;
    width: 28%;
    margin-left: 5%;
}

#titolo_promo {
    width: 10%;
    float: left;
    margin-left: 45%;
}

#titolo_promo h1 {
    font-size: 1.5em;
    color: #000000;
}

#promo_home {
    margin-top: 1.5em;
    margin-left: 10%;
    width: 90%;
    float:left;
    background-color: white;
}

#promo_home img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#novita {
    float: left;
    width: 28%;
    margin-left: 5%;
}

#titolo_novita {
    width: 10%;
    float: left;
    margin-left: 45%;
}

#titolo_novita h1 {
    font-size: 1.5em;
    color: #000000;
}

#novita_home {
    margin-top: 1.5em;
    margin-left: 10%;
    width: 90%;
    float:left;
    background-color: white;
}


#novita_home img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1.3em;
}

#titolo_bottom {
    float: left;
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#titolo_bottom h1 {
    text-align: center;
    color: black;
}

#loghi {
    float: left;
    clear: left;
    width: 100%;
}

#loghi img {
    width: 8%;
    margin-left: 4%;
    text-decoration: none;
}

#loghi a {
    text-decoration:none;
}

/******************************************************************
 Media Query Home
******************************************************************/

@media only screen and (max-width: 955px) {

    #banner img{
        margin-top: 3.8em;
    }
    #titoli_corpo_top h1 {
        font-size: 2em;
    }

    #corpo_top_home p {
        font-size: 1.5em;
    }

    .riquadro h1 {
        font-size: 2em;
    }

    .riquadro h2 {
        font-size: 1.8em;
    }

    #titolo_vetrina {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_vetrina h1 {
        font-size: 3em;
        margin-bottom: 1em;
        text-align: center;
    }

    #vetrina {
        width: 100%;
    }

    #vetrina_home {
        margin-left: 0;
        width: 100%;
    }

     #titolo_promo {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_promo h1 {
        font-size: 3em;
        margin-bottom: 1em;
        text-align: center;
        margin-top: 1em;
    }

    #promo {
        width: 100%;
        margin-left: 0;
    }

    #promo_home {
        width: 100%;
        margin-left: 0;
    }

     #titolo_novita {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_novita h1 {
        font-size: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

    #novita {
        width: 100%;
        margin-left: 0;
    }

    #novita_home {
        width: 100%;
        margin-left: 0;
    }

    #titolo_bottom h1 {
        font-size: 3em;
    }

    #loghi img {
        width: 15%;
        margin-left: 8%;
        float: left;
        padding-top: 1em;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/
@media only screen and (max-width: 767px) {

    #banner img{
        margin-top: 3.58em;
    }

    #corpo_top_home p {
        font-size: 0.8em;
    }

    .riquadro h1 {
        font-size: 1em;
    }

    .riquadro h2 {
        font-size: 1em;
    }

    #titolo_vetrina {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_vetrina h1 {
        font-size: 1.5em;
        margin-top: 1em;
        text-align: center;
    }

    #vetrina {
        width: 100%;
    }

    #vetrina_home {
        margin-left: 0;
        width: 100%;
    }

     #titolo_promo {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_promo h1 {
        font-size: 1.5em;
        margin-bottom: 2em;
        text-align: center;
    }

    #promo {
        width: 100%;
    }

    #promo_home {
        width: 100%;
        margin-left: 0;
    }

     #titolo_novita {
        width: 60%;
        margin-left: 20%;
    }

    #titolo_novita h1 {
        font-size: 1.5em;
        margin-bottom: 2em;
        text-align: center;
    }

    #novita {
        width: 100%;
    }

    #novita_home {
        width: 100%;
        margin-left: 0;
    }

    #titolo_bottom {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 956px) {

    #titolo_bottom:after {
        content: "";
        position: absolute;
        top: -3px;
        left: 20px;
    }

    #titolo_bottom:after {
        right: 20px;
        height: 3px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E), to (transparent));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E, transparent);
    }

    #titolo_bottom {
        position: relative;
    }

    #promo_home:before, #promo_home:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    #promo_home:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    #promo_home:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

    #novita_home:before, #novita_home:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    #novita_home:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    #novita_home:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

    #vetrina_home:before, #vetrina_home:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    #vetrina_home:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    #vetrina_home:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

    #vetrina_home {
        position: relative;
    }

    #novita_home {
        position: relative;
    }

    #promo_home {
        position: relative;
    }
}
