/********************************************************************************
Banner
********************************************************************************/

#homeBanner img {
    width: 100%;
    height: auto;
}

/********************************************************************************
Corpo Home
********************************************************************************/

#homeContentTop {
    width: 100%;
    margin-top: 3em;
}

#homeContentTop p {
    height: 1em;
    text-align: left;
    font-size: 0.8em;
    color: #000000;
    padding-top: 1em;
}

.homeContainersOut{
    float: left;
    width: 30%;
    margin-left: 2.5%;
}

.homeTitles {
    width: 10%;
    margin-left: 45%;
}

.homeTitles h1 {
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}

.homeContainersIn {
    margin-top: 1.5em;
    margin-left: 5%;
    width: 90%;
    clear: left;
    float: left;
    background-color: white;
}

.homeContainersIn img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#homeImgVetrina {
    padding-top: 17.5%;
    padding-bottom: 18%;
}

.homeInfo {
    padding: 1em;
}

.homeInfo h1 {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.footerTopBlockTitle_home {
    border-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.homeInfo h2 {
    font-size: 0.9em;
    padding-top: 1em;
}

.homeInfo a {
    color: #000000;
    display: inline-block;
    position: relative;
}

.homeInfo a:hover {
    color: #D50000;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

/*
.structural {
    margin-left: 30%;
    margin-top: 5em;
}
*/

#homeTitleBottom {
    float: left;
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#homeTitleBottom h1 {
    text-align: center;
    color: black;
}

#homeLoghi {
    float: left;
    clear: left;
    width: 100%;
}

#homeLoghi img {
    width: 8%;
    margin-left: 4%;
    text-decoration: none;
}

#homeLoghi a {
    text-decoration: none;
}

/******************************************************************
 Media Query Home
******************************************************************/

@media only screen and (max-width: 955px) {

    #homeBanner img {
        margin-top: 3.8em;
    }
    #homeContentTop h1 {
        font-size: 2em;
    }

    #homeContentTop p {
        font-size: 1.5em;
    }

    .homeInfo h1 {
        font-size: 2em;
    }

    .homeInfo h2 {
        font-size: 1.8em;
    }

    .homeTitles {
        margin-bottom: 0em;
        width: 60%;
        margin-left: 20%;
    }

    .homeTitles h1 {
        font-size: 3em;
        margin-bottom: 1em;
        text-align: center;
    }

    .homeContainersOut{
        width: 100%;
        margin: 0;
        margin-top: 2em;
    }

    .homeContainersIn {
        margin: 0;
        width: 100%;
    }

    #homeImgVetrina {
        padding-top: 2em;
        padding-bottom: 0em;
    }

    #homeTitleBottom h1 {
        font-size: 3em;
    }

    #homeLoghi img {
        width: 15%;
        margin-left: 8%;
        float: left;
        padding-top: 1em;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #homeBanner img {
        margin-top: 3.58em;
    }

    #homeContentTop p {
        font-size: 0.8em;
    }

     #homeContentTop h1 {
        font-size: 1.5em;
    }

    .homeInfo h1 {
        font-size: 1em;
    }

    .homeInfo h2 {
        font-size: 1em;
    }

    .homeTitles {
        width: 60%;
        margin-left: 20%;
    }

    .homeTitles h1 {
        font-size: 1.5em;
        margin-top: 1em;
        text-align: center;
    }

    .homeContainersOut{
        width: 100%;
        margin: 0;
    }

    .homeContainersIn {
        margin-left: 0;
        width: 100%;
    }

    #homeTitleBottom {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 956px) {

    #homeTitleBottom:after {
        content: "";
        position: absolute;
        top: -3px;
        left: 20px;
    }

    #homeTitleBottom:after {
        right: 20px;
        height: 3px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E), to (transparent));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E, transparent);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E, transparent);
    }

    #homeTitleBottom {
        position: relative;
    }


    .homeContainersIn:before,
    .homeContainersIn:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .homeContainersIn:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    .homeContainersIn:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

     .homeContainersIn {
        position: relative;
    }
}

/******************************************************************
 Print Style Home
******************************************************************/


@media print {

    #headerContainer, #headerDropMenu, #footerTop, #footerBottom {
        display: none;
    }

}
