@charset "UTF-8";

/******************************************************************************
  General
*******************************************************************************/

* {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0;
    padding: 0em;
    margin: 0em;
}

html,body {
  height: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #424242;
}

/********************************************************************************
    corpo home
********************************************************************************/

#corpo_home {
    width: 100%;
    padding-top: 2em;
}

#corpo_home h1 {
    text-align: center;
    font-size: 1.5em;
    color:white;
}

#corpo_home p {
    text-align: left;
    color:white;
    text-decoration: none;
}

#corpo_home a{
    text-decoration: none;
    color: #FAFAFA;
}

#corpo_home a:hover {
    color: #D50000;
}

#corpo_home a:visited {
    color: #FFA726;
}

#novita_home {
    margin-left: 2em;
    width: 23%;
    float:left;
}

#novita_home img {
    width: 80%;
    padding: 0.5em;
}

#offerte_home {
    width: 23%;
    float:left;
}

#offerte_home img{
    width: 80%;
    padding: 0.5em;
}

#i_piu_venduti_home {
   width: 23%;
    float:left;
}

#i_piu_venduti_home img {
     width: 80%;
    padding: 0.5em;
}

#pensati_per_voi_home {
    margin-right: 2em;
    width: 23%;
    float:left;
}

#pensati_per_voi_home img {
     width: 80%;
    padding: 0.5em;
}
