#regform{
    background-color: white;
    margin: 10em 10em 10em 10em;

}
#regtitle h1{

    background-color: #D32F2F;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

h2{
    text-align: center;
    font-size: 2em;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 1em 1em 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;

}

.signupbtn {
    background-color: #D32F2F;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    float: left;
    width: 100%;
    margin-top: 2em;
}

.containerreg{
    float: left;
    padding: 0.5em;
    width: 40em;

}
.containerreg2{
    padding: 0.5em;
    float: right;
    width: 40em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
