*{
    padding: 0em;
    margin: 0em;
}

#html,body {
    /*background-color: black;*/
    font-family: verdana, arial, sans-serif;
}

#top_box {
    background-color: #1B1B1B;
    width: 100%;
    height: 2em;

}

#top_box_contacts {
    float:left;
    font-size: 0.8em;
    padding-left: 5em;
    color: white;
    width: 30%;
    height: 2em;
    padding-top:
}

#top_box_account {
    float: right;
    font-size: 0.8em;
    padding-right: 5em;
    color: white;
    width: 40%;
    height: 2em;
}
