
#userContainer{
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#userContainer h1 {
    font-size: 2.5em;
    color: #D32F2F;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 10%;
}

#userContainer h2 {
    font-size: 1.7em;
    color: #212121;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 10%;
}

.userForm {
    width: 80%;
    margin-left: 10%;
}

.userInputLabel {
    float: left;
    clear: left;
    width: 30%;
    font-size: 1.2896em;
    color: black;
}

.userInputField {
    float: left;
    width: 70%;
    margin-bottom: 1em;
    padding: 0;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 1.2em;
    color: black;
}
.userSubmitButton {
    padding: 0.5em;
    clear: both;
    display: block;
    cursor: pointer;
    font-size: 1.2896em;
    border: none;
    background-color: #D32F2F;
    color: white;
    text-transform: uppercase;
    margin-top: 0.5em;
}
.userSubmitButton:hover{
    background-color: #D32F2F;
}

.userChoiceLabel {
    font-size: 1.286em;
}

.userNewsLetterLabel {
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.2896em;
    color: black;
}

#userLogoutButton {
    padding: 0.5em;
    display: block;
    cursor: pointer;
    font-size: 1.2896em;
    border: none;
    background-color: #D32F2F;
    color: white;
    text-transform: uppercase;
    width: 10%;
    float: right;
    clear: left;
    margin-right: 10%;
}

#userLogoutButton: hover{
    background-color: #D32F2F;
}

