/*****************************
dimensioni scritte

desktop (em)
h1 2
h2 1.5

tablet
h1 1.9
h2 1.4

phone
h1 1.4
h2 0.87

*****************************/

/* titolo pagina h1 */

#titolo_catalogo {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: static;
}

#titolo_catalogo h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.riquadro_esterno a {
    text-decoration: none;
    color: #000000;
}

.riquadro_esterno h2 {
    text-align: center;
    font-size: 1.1em;
}

/* menù verticale */

#menu_verticale {
    margin: 1em 2.5% 20em 0%;
    padding-bottom: 3em;
    width: 15.5%;
    float: left;
    clear: both;

    background-color: #212121;
    color: #FAFAFA;
    border-style: solid;
    border-color: #D32F2F;
    border-left: none;
    border-right: none;
}

#menu_verticale h2 {
    font-size: 1.1em;
    padding: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: #FAFAFA;
    border-bottom-width: 0.1em;
}

#menu_verticale ul {
    list-style-type: none;
}
#menu_verticale li {
    padding: 0.5em;
}

#menu_verticale a {
    color: white;
    font-size: 0.8em;
}

#menu_verticale a:hover {
    color: #D32F2F;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(3);
    -moz-transform: scale(1.5);
}

/* dimensione/margin immagini */

.icona_categoria {
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 1em;
    margin: 2em;
}

/* larghezza/posizione colonne */

.riquadro_esterno {
    margin: 1em 2.5% 1em 0em;
    width: 18%;
    float: left;
    text-align: center;
}

/* posizione immagine "all'interno del bordo" */

.riquadro_interno {
    text-align: center;
    margin-top: 1em;
    float: left;
    padding: 1em;
    background-color: white;
    position: relative;
}

/******************************************************************
 Media Query Home
******************************************************************/

@media only screen and (max-width: 955px) {

    #titolo_catalogo h1 {
        font-size: 1.9em;
    }

    #titolo_catalogo {
        position: static;
        margin-top: 0em;
        padding-top: 5em;
    }

    .riquadro_esterno h2 {
        position: static;
        font-size: 1.4em;
    }

    .riquadro_esterno {
        position: static;
        width: 30%;
        margin-left: 2.5%;
    }

    .riquadro_interno {
        position: static;
        width: 90%;
        float: none;
        margin-left: 5%;
        padding: 0em;
    }

    .icona_categoria {
        max-width: 70%;
        margin-left: 4%;
        margin-bottom: 1em;
        margin: 2em;
    }

    #menu_verticale {
    display: none;
    }
}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #titolo_catalogo{
        margin-bottom: 1em;
    }

    #titolo_catalogo h1 {
        font-size: 1.4em;
    }

    .riquadro_esterno h2 {
        font-size: 0.87em;
    }

    .riquadro_esterno {
        position: static;
        width: 45%;
        margin-left: 3%;
        margin-top: 0.5em;
    }

    .riquadro_interno {
        position: static;
        width: 90%
        float: none;
        padding-left: 5%;
    }

    .icona_categoria {
        max-width: 100%;
        margin: 0%;
    }

    #menu_verticale {
    display: none;
    }
}


@media only screen and (min-width: 956px) {

    /* bordi */

    .riquadro_interno:before,
    .riquadro_interno:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .riquadro_interno:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    .riquadro_interno:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }
}
