/* titolo pagina */

#catalogTitle {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    float:right;
    position: static;
}

#catalogTitle h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.catalogContainerOut a {
    text-decoration: none;
    color: #000000;
}

.catalogContainerOut h2 {
    text-align: center;
    font-size: 1.1em;
}
/* dimensione/margin immagini */

.catalogContainerIn img {
    width: 80%;
    margin-left: 5%;
}


/* larghezza/posizione colonne */

.catalogContainerOut {
    margin: 1em 1.5% 1em 1.5%;
    width: 17%;
    float: left;
    text-align: center;
}

/* posizione immagine "all'interno del bordo" */

.catalogContainerIn {
    text-align: center;
    margin-top: 1em;
    float: left;
    padding: 1em;
    background-color: white;
    position: relative;
}


/******************************************************************
 Print Style Catalog
******************************************************************/

@media print {
    .catalogContainerOut {
        margin: 2em 0% 3em 4%;
        width: 20%;
        float: left;
        text-align: center;
    }

}

/******************************************************************
 Media Query Tablet
******************************************************************/

@media only screen and (max-width: 955px) {

    #catalogTitle h1 {
        font-size: 1.9em;
    }

    #catalogTitle {
        position: static;
        margin-top: 0em;
        padding-top: 5em;
    }

    .catalogContainerOut h2 {
        position: static;
        font-size: 1.4em;
    }

    .catalogContainerOut {
        position: static;
        width: 28%;
        margin-left: 2.3%;
    }

    .catalogContainerIn {
        position: static;
        width: 90%;
        float: none;
        margin-left: 5%;
        padding: 0em;
    }

    .icona_categoria {
        max-width: 70%;
        margin-left: 4%;
        margin-bottom: 1em;
        margin: 2em;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #catalogTitle{
        margin-bottom: 1em;
    }

    #catalogTitle h1 {
        font-size: 1.4em;
    }

    .catalogContainerOut h2 {
        font-size: 0.87em;
        width: 60%;
        text-align: center;
    }

    .catalogContainerOut {
        width: 20%;
        margin-left: 20%;
        margin-top: 0.5em;
    }

    .catalogContainerIn {
        position: static;
        width: 90%;
        float: none;
        padding-left: 5%;
    }

    .icona_categoria {
        max-width: 100%;
        margin: 0%;
    }

}


@media only screen and (min-width: 956px) {

    /* bordi */

    .catalogContainerIn:before,
    .catalogContainerIn:after {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .catalogContainerIn:before {
        bottom: -2px;
        width: 2px;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
        background-image: -webkit-linear-gradient(#9E9E9E, transparent);
        background-image: -moz-linear-gradient(#9E9E9E, transparent);
        background-image: -o-linear-gradient(#9E9E9E, transparent);
    }

    .catalogContainerIn:after {
        left: -2px;
        height: 2px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
        background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
        background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
        background-image: -o-linear-gradient(left, transparent, #9E9E9E);
    }

}
