
#catalogVerticalMenu {
    width: 20%;
    float: left;
    margin-bottom: 16%;
}

#catalogVerticalMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B71C1C;
    width: 200px;
}

#catalogVerticalMenu li {
    padding: 0.4em;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 2px;
}

#catalogVerticalMenu a {
    display: block;
    color: white;
    padding: 0.15em 0.2em;
    text-decoration: none;
    font-size: 0.9em;
}

#catalogVerticalMenu li:hover {
    background-color: #212121;
}


/******************************************************************
 Print Style
******************************************************************/

@media print {
    #catalogVerticalMenu{
        display: none;
    }
}


/******************************************************************
 Media Query Tablet
******************************************************************/

@media only screen and (max-width: 955px) {
    #catalogVerticalMenu{
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    #catalogVerticalMenu{
        display: none;
    }
}
