/********************************************************************************
    Footer Top
********************************************************************************/

#footerTop {
    float: left;
    margin-top: 3em;
    background-color: #212121;
    width: 100%;
    font-size: 0.8em;
    color: #FAFAFA;
    border-style: solid;
    border-color: #D32F2F;
    border-left: none;
    border-right: none;
}

#footerTop ul {
    list-style-type: none;
    padding-left: 0;
}

#footerTop ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

#footerTop a {
    color: white;
    font-size: 1.2em;
    display: inline-block;
    position: relative;
}

#footerTop a:hover {
    color: #D32F2F;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

#footerTop h1 {
    color: #FAFAFA;
    font-size: 1.2em;
}

.footerTopBlockTitle {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: #FAFAFA;
    border-bottom-width: 0.1em;
}

#footerTopChiSiamo p {
    font-size: 1.2em;
    padding-top: 0.5em;
}

.footerTopContainer {
    width: 30%;
    float: left;
    margin-left: 2.5%;
}

.footerTopContainer h2 {
    margin-bottom: 0.3em;
    padding-top: 0.3em;
    font-size: 1em;
}

#footerTopLoghiSocial {
    width: 99.5%;
    margin-left: 0.5em;
}

#footerTopLoghiSocial a{
    display: inline-block;
    position: relative;
    width: 8%;
    margin-right: 5%;
    padding-bottom: 0.5em;
}

#footerTopLoghiSocial img {
    width: 100%;
}

.footerTopcontainer img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

/*******************************************************************
 Footer Bottom
*******************************************************************/

#footerBottom {
    float: left;
    clear: left;
    width: 100%;
    color: #212121;
    text-align: left;
}

#footerBottom p {
    font-size: 0.8em;
    margin-top: 0.5em;
}

.footerBottomContainer {
    text-align: center;
    width: 20%;
    float: left;
    margin-left: 10%;
}


.footerTopContainer h1 {
    padding-left: 0.5em;
}

.footerTopContainer h2 {
    padding-left: 0.5em;
}

.footerTopContainer p {
    padding-left: 0.5em;
}


/******************************************************************
 Media Query Footer
******************************************************************/

@media only screen and (max-width: 955px) {

    #footerTop {
        font-size: 2em;
    }

    #footerTop a {
        font-size: 1.2em;
    }

    #footerTop a:hover {
        font-size: 1.2em;
    }

    .footerTopContainer {
        width: 95%;
        float: left;
    }

    .footerTopContainer p {
        font-size: 1em;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }

    .footerTopContainer h2 {
        display: none;
    }

    #footerTopLoghiSocial {
        margin-top: 0.5em;
    }

    #footerTopLoghiSocial a{
        margin-left: 9%;
    }

    #footerBottom p {
        font-size: 1em;
    }

    .footerBottomContainer {
        width: 30%;
        margin-left: 2.5%;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #footerTop {
        font-size: 0.8em;
    }

    #footerBottom {
        font-size: 0.5em;
    }

    #footerTop a {
        font-size: 1.2em;
    }

    #footerTop a:hover {
        font-size: 1.5em;
    }

    #footerBottom {
        padding: 0.5%;
    }

}

/******************************************************************
 Print Style Footer
******************************************************************/

@media print {

    #footerTop, #footerBottom {
        display: none;
    }

}
