#title_cat {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#title_cat h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.product {
    margin: 1em 1.5% 1em 1.5%;
    width: 17%;
    height: 25em;
    float: left;
    background-color: #FFFFFF;
    position: relative;
}

.imageCat {
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.product_description p {
    margin-top: 1em;
    font-size: 0.8em;
    text-align: left;
}

.product_name h1{
    margin-top: 3em;
    font-size: 1.1em;
}

.product_availability h3 {
    font-size: 0.9em;
    margin-top: 10%;
    float: left;
    width: 50%;
}

.product_price h3 {
    font-size: 0.9em;
    margin-top: 10%;
    float: left;
    width: 50%;
}

#catalogVerticalMenu {
    width: 20%;
    float: left;
    margin-bottom: 55%;
}

#catalogVerticalMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B71C1C;
    width: 200px;
}

#catalogVerticalMenu li {
    padding: 0.4em;
    border-top: solid;
    border-bottom: solid;
    border-color: #FFFFFF;
    border-width: 2px;
}

#catalogVerticalMenu a {
    display: block;
    color: #FFFFFF;
    padding: 0.15em 0.2em;
    text-decoration: underline;
    font-size: 0.9em;
}

#catalogVerticalMenu li:hover {
    background-color: #212121;
}

/******************************************************************
 Print Style Categ
******************************************************************/

@media print {

    .product {
        margin: 2em 0% 3em 4%;
        width: 20%;
        float: left;
        text-align: center;
    }

    .product_price h3 {
        margin-top: 4%;
        float:left;
        width: 100%;
    }

    .product_availability h3 {
        float: left;
        width: 100%;
    }

    #catalogVerticalMenu{
        display: none;
    }

}

/******************************************************************
 Media Query Tablet
******************************************************************/

@media only screen and (max-width: 955px) {

    #title_cat {
        margin: 0em;
        padding-top: 5em;
    }

    #title_cat h1 {
        font-size: 1.9em;
    }

    .product {
        position: static;
        width: 28%;
        margin-left: 2.3%;
    }

    .product_price h3 {
        font-size: 0.75em;
    }

    .product_availability h3 {
        font-size: 0.75em;
    }

    .product_description p {
        font-size: 0.75em;
    }

    #catalogVerticalMenu{
        display: none;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #title_cat h1{
        font-size: 1.5em;
    }

    .product {
        position: static;
        width: 40%;
        height: 390px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .product_name h1 {
        font-size: 1.1em;
    }

    .product_price h3 {
        margin-top: 1%;
        float:none;
        width: 100%;
    }

    .product_availability h3 {
        float: none;
        width: 100%;
    }

    .imageCat {
    width: 70%;
    }

    #catalogVerticalMenu{
        display: none;
    }

}


.product:before,
.product:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
}

.product:before {
    bottom: -2px;
    width: 2px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9E9E9E), to(transparent));
    background-image: -webkit-linear-gradient(#9E9E9E, transparent);
    background-image: -moz-linear-gradient(#9E9E9E, transparent);
    background-image: -o-linear-gradient(#9E9E9E, transparent);
}

.product:after {
    left: -2px;
    height: 2px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#9E9E9E));
    background-image: -webkit-linear-gradient(left, transparent, #9E9E9E);
    background-image: -moz-linear-gradient(left, transparent, #9E9E9E);
    background-image: -o-linear-gradient(left, transparent, #9E9E9E);
}
