#configTitle {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#horizontal_menu {
    width: 100%;
}

#horizontal_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B71C1C;
}

#horizontal_menu li {
    float: left;
    width: 33.33%;
}

#horizontal_menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.2em;
}

#horizontal_menu li a:hover {
    background-color: #212121;
}

/*
#configIndex {
    width: 100%;
}

#configIndex h1{
    color: white;
    font-size: 1.5em;
}

#configIndex a {
    display: block;
    position: relative;
    text-decoration-color: white;
}

.configIndexOptions {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 33.3%;
    float: left;
    background-color: #B71C1C;
    text-align: center;
}

.configIndexOptions a:hover {
    background-color: #212121;
}
*/

.configConfigurazioniTop {
    width: 94%;
    float: left;
    background-color: #424242;
    padding: 3%;
    margin-top: 2em;
}

#configTitle h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.configImg {
    width: 40%;
    float: left;
}

.configImg img {
    max-width: 70%;
    margin: 5%;
}

.configDescription {
    float: left;
    background-color: #212121;
    padding: 2em;
    width: 52%;
}

.configConfigurazioniTop p {
    font-size: 1em;
    text-align: left;
    color: white;
}

.configConfigurazioniTop h2 {
    font-size: 1.5em;
    text-align: left;
    padding-top: 2em;
    color: white;
}

.configConfigurazioniTop h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.configSpecification {
    width: 100%;
    float: left;
    clear: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.configSpecification h1 {
    font-size: 2em;
    text-align: center;
}

.configContainer {
    width: 30%;
    float: left;
    margin-left: 2.5%;
    background-color: white;
    padding-top: 1em;
    font-size: 1.2em;
}

.configContainer h1 {
    font-size: 0.8em;
    padding-bottom: 0.3em;
    color: #000000;
    text-align: left;
}

.configContainerSections {
    width: 100%;
    height: 1.5em;
    padding-bottom: 1.5em;
}

.configContainerSections p {
    font-size: 0.7em;
}

.configTornaSu {
    width: auto;
    margin-right: 10%;
    padding: 1em;
    float: right;
    background-color: #424242;
}

.configTornaSu a {
    color: white;
    font-size: 1em;
    text-align: right;
}

/******************************************************************
 Media Query Tablet
******************************************************************/

@media only screen and (max-width: 955px) {

    #configTitle {
        margin-top: 0em;
    }

    #configTitle h1 {
        font-size: 2em;
        padding-top: 3em;
        margin-top: 0em;
    }

    .configImg{
        width: 100%;
        float: none;
    }

    .configImg img {
        float: none;
        max-width: none;
        width: 90%;
        margin: 5%;
    }

    .configDescription {
        float: none;
        clear: none;
        margin: 0%;
        width: 90%;
    }

    .configConfigurazioniTop p {
        font-size: 1.5em;
    }

    .configConfigurazioniTop h1 {
        font-size: 2.5em;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .configSpecification h1 {
        font-size: 2.5em;
    }

    .configContainerSections {
        height: 5em;
    }

    .configContainerSections p {
        font-size: 1em;
    }

    .configContainer {
        margin-bottom: 2em;
    }

    .configContainer h1 {
        font-size: 1.5em;
    }

/******************************************************************
 Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #configTitle h1 {
        font-size: 1em;
        padding-top: 5em;
    }

    .configDescription {
        float: none;
        clear: none;
        margin: 0%;
        width: 80%;
    }

    .configConfigurazioniTop p {
        font-size: 0.8em;
    }

    .configConfigurazioniTop h1 {
        font-size: 1.5em;
    }

    .configConfigurazioniTop h2 {
        font-size: 1em;
    }

    .configSpecification h1 {
        font-size: 1.2em;
    }

    .configContainerSections {
        height: 2em;
    }

    .configContainerSections p {
        font-size: 0.5em;
    }

    .configContainer {
        margin-bottom: 2em;
    }

    .configContainer h1 {
        font-size: 0.5em;
    }

}

/******************************************************************
 Print Style Config
******************************************************************/

@media print {

#configIndex h1{
    color: black;
    font-size: 15em;
}

#configIndex a {
    text-decoration: none;
}

.configIndexOptions {
    background-color: #FFFFFF;
}

}
