/********************************************************************************
    corpo contatti
********************************************************************************/

#corpo_contatti {
    width: 100%;
    padding-top: 2em;
}

.titolo_contatti {
    padding-bottom: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 0.1em;
}

#chi{
    text-align: center;
    padding: 3em 7% 5em 7%;
}

#img_chi{
    width: 5em;
    float: left;
    padding: 0.5em 8em 0em 10em;
}

#chi p {
    margin: 1em 10em 0em 0em;

}

#dove {
    float:left;
    text-align: center;
    width: 40%;
    margin-left: 7%;
    margin-bottom: 2em;
}

#come {
    text-align: center;
    width: 40%;
    margin-right: 7%;
    float: right;
    margin-bottom: 2em;
}

.img_dove_come{
    float:left;
    clear: right;
    text-align: left;
    width: 5em;
    padding: 0.5em 2em 0em 2em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.3em;
}

#dove p{
    margin-top: 1em;
}

#come p{
    margin-top: 0.3em;
}

/******************************************************************
 Print Style Config
******************************************************************/

@media print {

    #dove{
        float: none;
    }

    #chi, #dove, #come {
        width: 100%;
        padding: 2em 0% 2em 0%;
        margin: 0%;
    }

    #img_chi, .img_dove_come{
        width: 6em;
        padding: 1em 8em 1em 8em;
    }

    #chi p, #dove p, #come p{
        margin: 1em 6em 0em 0em;
        font-size: 1.2em;
    }
}

/******************************************************************
 Media Query Tablet
******************************************************************/

@media only screen and (max-width: 955px) {

    #chi{
        width: 90%;
        padding: 6em 5% 3em 5%;
    }

    #dove{
        width: 90%;
        margin: 2em 5% 3em 5%;
        float: none;
    }

    #come{
        width: 90%;
        margin: 2em 5% 3em 5%;
    }

    #img_chi{
        width: 6em;
        padding: 1em 8em 1em 8em;
    }

    #chi p{
        margin: 1em 6em 0em 0em;
    }

    .img_dove_come{
        width: 6em;
        padding: 1em 8em 1em 8em;
    }

    #dove p{
        margin: 1em 6em 0em 0em;
    }

    #come p{
        margin: 1em 6em 0em 0em;
    }

}

/******************************************************************
Media Query Mobile
******************************************************************/

@media only screen and (max-width: 767px) {

    #img_chi {
        display: none;
    }

    .img_dove_come{
        display: none;
    }

    .titolo_contatti{
        font-size: 1.5em;
    }

    #chi p{
        width: 100%;
    }

    #dove p{
        width: 100%;
    }

    #come p{
        width: 100%;
    }

}
