@media only screen and (max-width: 955px) {

    #regLoginTitle {
        padding-top: 4.3em;
    }

    #regLoginTitle h1 {
        margin-top:0;
        font-size: 1.6em;
    }

    #regLoginform {
        margin-top:0;
        padding-top:0;

    }


    input[type=text],
    input[type=email],
    input[type=password] {
        font-size: 1.2em;



    }

    .clearfix {
        width: 80%;
        margin-left: 10%;
    }

    #askRegLog {
        padding-top: 2em;
        margin-left: 15%;
        width: 70%;
        text-align: center;
        clear: left;
    }

    #askRegLog a {

        font-size: 1.6em;
    }
    #accountTitle h2 {

        font-size: 1.7em;
        text-align: center;
    }


}

@media only screen and (max-width: 767px) {

    #registerForm  {
        margin-left: 5%;
        margin-right: 5%;
    }

    #regLoginTitle h1 {
        font-size: 0.8em;
    }

    #regLoginForm {
        margin: 8%;
    }

    .labeltxt {
        font-size: 1em;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        font-size: 0.8em;
        width: 95%;
        margin-right: 5%;
    }

    #accountTitle h2, #submitButton, #askRegLog, #askRegLog a {
        font-size: 1.2em;
    }
}

/****** EXTRA MEDIA QUERY *****/
@media only screen and (min-width: 956px) {
    #submitButton:hover {
        -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -moz-transform:scale(1.2);
    }
}
