#regLoginForm {
    background-color: #FFF;
    margin: 3em 10em 10em 10em;
}
#regLoginTitle h1 {
    background-color: #D32F2F;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.6em;
    margin: 2em 0;
    padding: 1em;
}
#accountTitle h2 {
    font-size: 2.7em;
    text-align: center;
}

.labeltxt {
    text-align: center;
    font-size: 1.7em;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    font-size: 1em;
    margin: 0.6em 0;
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #ccc;
}

#loginMessage, #regFailMessage {
    width: 30%;
    margin: 3em 35% 0 35%;
    background-color: #000;
    padding: 0.5em;
    text-align: center;
    color: #FFF;
}

#submitButton {
    background-color: #D32F2F;
    color: #FFF;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-top: 2em;
}

fieldset {
    border: 0;
}

#askRegLog {

    margin-left: 30%;
    margin-top:0;
    width: 40%;
    text-align: center;
}

#askRegLog a {

    font-size: 1.4em;
}

.displayNone {
    display: none;
}

.loginInputLabel {
    text-align: center;
    font-size: 1.7em;
}

@media only screen and (max-width: 955px) {

    #regLoginTitle {
        padding-top: 4.3em;
    }

    #regLoginTitle h1 {
        margin-top:0;
        font-size: 1.6em;
    }

    #regLoginform {
        margin-top:0;
        padding-top:0;

    }


    input[type=text],
    input[type=email],
    input[type=password] {
        font-size: 1.2em;



    }

    .clearfix {
        width: 80%;
        margin-left: 10%;
    }

    #askRegLog {
        padding-top: 2em;
        margin-left: 15%;
        width: 70%;
        text-align: center;
        clear: left;
    }

    #askRegLog a {

        font-size: 1.6em;
    }
    #accountTitle h2 {

        font-size: 1.7em;
        text-align: center;
    }


}

@media only screen and (max-width: 767px) {

    #registerForm  {
        margin-left: 5%;
        margin-right: 5%;
    }

    #regLoginTitle h1 {
        font-size: 0.8em;
    }

    #regLoginForm {
        margin: 8%;
    }

    .labeltxt {
        font-size: 1em;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        font-size: 0.8em;
        width: 95%;
        margin-right: 5%;
    }

    #accountTitle h2, #submitButton, #askRegLog, #askRegLog a {
        font-size: 1.2em;
    }
}

/****** EXTRA MEDIA QUERY *****/
@media only screen and (min-width: 956px) {
    #submitButton:hover {
        -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -moz-transform:scale(1.2);
    }
}
