#regform {
    background-color: #FFFFFF;
    margin: 7em 10em 7em 10em;

}

#regTitle h1 {
    background-color: #D32F2F;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 3em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

#loginTitle h2 {
    font-size: 2.7em;
    text-align: center;
    margin-bottom: 2em;
}


input[type=text],
input[type=password] {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#submitButton {
    background-color: #D32F2F;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    float: left;
    width: 100%;
    margin-top: 2em;
}

#loginFormContainer {

    width: 40%;
    margin-left: 30%;
}

.alert {
    padding: 0.5em 1em;
    margin-top: 3em;
    margin-left: 30%;
    margin-bottom: 3em;
    display: block;
    font-size: 1.286em;
    text-align: center;
    opacity: 0.7;
    color: #FFFFFF;
    float: left;
    width: 40%;
}

.close {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

.alert-dismissable {
    margin-right: 2.500em;
}

.alert-error {
    background-color: #880E4F;
}

.alert-success {
    background-color: #1B5E20;
}

.displayNone {
    display: none;
}

fieldset {
    border: 0;
}

#askreg{

    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    text-align: center;
}

#askreg a{

    font-size: 1.5em;
}

.loginInputLabel {
    text-align: center;
    font-size: 1.7em;
}

@media only screen and (max-width: 955px) {

    #regform {
        margin: 0%;
    }

    #loginTitle {
        margin-top: 0em;
        padding-top: 3em;
        font-size: 0.7em;
    }

    #regform {
        width: 100%;
        margin-top: 0em;
        padding-top: 0em;
    }

    .containerlogin {
        float: center;
        width: 80%;
        margin-left: 10%;
    }

    .clearfix {
        width: 80%;
        margin-left: 10%;
    }

    input[type=text],
    input[type=password] {
        font-size: 1em;

    }

    h2{
        font-size: 1.6em;
    }

    #askreg{
        width: 80%;
        margin-left: 10%;
    }
    #askreg a{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 767px) {



}
