#regform {
    background-color: #FFFFFF;
    margin: 7em 10em 7em 10em;

}

#regTitle h1 {

    background-color: #D32F2F;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;

}

.signupbtn {
    background-color: #D32F2F;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    float: left;
    width: 100%;
    margin-top: 2em;
}


.containerlogin {
    width: 50%;
    margin-left: 25%;
}

.clearfix {
    width: 50%;
    margin-left: 25%;
}

#askreg{

    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    text-align: center;
}

#askreg a{

    font-size: 1.5em;
}

@media only screen and (max-width: 955px) {

    #regform {
        margin: 0%;
    }

    #regTitle {
        margin-top: 0em;
        padding-top: 3em;
        font-size: 0.7em;
    }

    #regform {
        width: 100%;
        margin-top: 0em;
        padding-top: 0em;
    }

    .containerlogin {
        float: center;
        width: 80%;
        margin-left: 10%;
    }

    .clearfix {
        width: 80%;
        margin-left: 10%;
    }

    input[type=text],
    input[type=password] {
        font-size: 1em;

    }

    h2{
        font-size: 1.6em;
    }

    #askreg{
        width: 80%;
        margin-left: 10%;
        margin-top: 40%;
    }
    #askreg a{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 767px) {}
