#registerForm {
    background-color: #FFFFFF;
    margin: 3em 10em 10em 10em;

}

#regTitle h1 {
    background-color: #D32F2F;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

#accountTitle h2 {
    font-size: 2.7em;
    text-align: center;
}

.labeltxt {
    text-align: center;
    font-size: 1.7em;
}


input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: inline-block;
    border: 1px solid #ccc;

}

#submitButton {
    background-color: #D32F2F;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-top: 2em;
}

.containerreg {

    width: 60%;
    margin-left: 20%;
}

.alert{
    padding: 0.5em 1em;
    margin-top: 3em;
    margin-left: 30%;
    margin-bottom: 3em;
    display: block;
    font-size: 1.286em;
    text-align: center;
    opacity: 0.7;
    color: #FFFFFF;
    float: left;
    width: 40%;
}
.close{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0;
    margin-right: 0.5em;
    cursor: pointer;
}
.alert-dismissable{
    margin-right: 2.500em;
}
.alert-error{
    background-color: #880E4F;
}
.alert-success{
    background-color: #1B5E20;
}

#asklog {

    margin-left: 30%;
    margin-top: 0em;
    width: 40%;
    text-align: center;
}

#asklog a {

    font-size: 1.4em;
}

@media only screen and (max-width: 955px) {

    #regTitle {
        padding-top: 4.3em;
    }

    #regTitle h1 {
        margin-top: 0em;
        font-size: 1.6em;
    }

    #regform {
        margin-top: 0em;
        padding-top: 0em;
    }

    .containerreg {
        margin-left: 0;
        width: 100%;
        margin-top: 2em;
    }

    input[type=text],
    input[type=password] {
        font-size: 1.2em;

    }
    #asklog {
        padding-top: 2em;
        margin-left: 15%;
        width: 70%;
        text-align: center;
    }

    #asklog a {

        font-size: 1.6em;
    }
    #accountTitle h2 {

        font-size: 1.7em;
        text-align: center;
    }


}

@media only screen and (max-width: 767px) {

    #registerForm  {
        margin-left: 5%;
        margin-right: 5%;
    }

    #accountTitle h2 {

        font-size: 1.2em;
    }

    #regTitle h1 {
        font-size: 0.6em;
    }

    #regform {
        margin: 8%;
    }

    .containerreg {
        margin-top: 0;
        width: 80%;
        margin-left: 7%;
    }

    .labeltxt {
        font-size: 1em;
    }

    input[type=text],
    input[type=password] {
        font-size: 0.8em;
    }

    #submitButton {
        font-size: 1.2em;
    }

    #asklog {
        padding-top: 0;
    }

    #asklog a {
        font-size: 1.2em;
    }
}
