#registerForm {
    background-color: white;
    margin: 3em 10em 10em 10em;

}

#regTitle h1 {

    font-size: 1.5em;
    background-color: #D32F2F;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

#accountTitle h2 {
    font-size: 2.7em;
    text-align: center;
}

.containerreg h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.containerreg2 h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

input[type=text],
input[type=password] {
    width: 100%;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;

}

#submitButton {
    background-color: #D32F2F;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    float: left;
    width: 100%;
    margin-top: 2em;
}

.containerreg {
    float: left;
    width: 45%;

}

.containerreg2 {

    float: right;
    width: 45%;

}

.clearfix {
    width: 100%;
    height: auto;

}

#asklog {

    margin-left: 25%;
    margin-top: 33em;
    width: 50%;
    text-align: center;
}

#asklog a {

    font-size: 1.4em;
}

@media only screen and (max-width: 955px) {


    #regTitle {
        margin-top: 0em;
        padding-top: 8em;
        font-size: 0.5em;
    }

    #regTitle h1 {
        font-size: 2em;
    }

    #regform {
        margin-top: 0em;
        padding-top: 0em;
    }

    .containerreg {
        float: center;
        width: 100%;
        margin-top: 2em;
    }
    .containerreg2 {
        float: center;
        width: 100%;
    }
    input[type=text],
    input[type=password] {
        font-size: 1.2em;

    }
    #asklog {

        margin-left: 15%;
        margin-top: 51em;
        width: 70%;
        text-align: center;
    }

    #asklog a {

        font-size: 1.6em;
    }
    #accountTitle h2 {

        font-size: 1.7em;
        text-align: center;
    }


}

@media only screen and (max-width: 767px) {

    #regform {
        margin: 8%;
    }

    .containerreg {
        margin-top: 0m;
        width: 100%;
    }
    .containerreg2 {

        width: 100%;
    }
    #asklog a {

        font-size: 1.4em;
    }
}
