@media only screen and (max-width: 955px) {

    #userContainer{
        padding-top: 3em;
    }

    #userContainer h1 {
        font-size: 3em;
    }

    #userContainer h2 {
        font-size: 2.5em;
    }

    .userInputLabel {
        font-size: 2em;
        width: 100%;
        margin-bottom: 0.5em;
    }

    .userInputField {
        font-size: 2em;
        width: 100%;
    }

    .userSubmitButton {
        font-size: 2em;
    }

    .userNewsLetterLabel {
        font-size: 1.5em;
    }

    #userLogoutButton {
        font-size: 2em;
        width: 30%;
        margin-top: 2.5em;
    }
}

@media only screen and (max-width: 767px) {


    #userContainer h1 {
        font-size: 2em;
    }

    #userContainer h2 {
        font-size: 1.5em;
    }

    .userInputLabel {
        font-size: 1.2em;
    }

    .userInputField, .userSubmitButton {
        font-size: 1em;
    }


    #userLogoutButton {
        font-size: 1em;
        width: 30%;
        margin-top: 2.5em;
    }
}

@media only screen and (min-width: 956px) {

/****************************
    si può aggiungere classe hoverScale
*********************/
    #userLogoutButton:hover, .userSubmitButton:hover {
        -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -moz-transform:scale(1.2);
    }

}

.messages {
    text-align: center;
    color: #FFF;
    background-color: #000;
    margin-top: 1em;
    width: 15em;
}
