#userContainer{
    background-color: #FFFFFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#userContainer h1 {
    font-size: 2.5em;
    color: #D32F2F;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 10%;
}

#userContainer h2 {
    font-size: 1.7em;
    color: #212121;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 10%;
}

.userForm {
    width: 80%;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

.displayNone {
    display: none;
}

.userInputLabel {
    float: left;
    clear: left;
    width: 30%;
    font-size: 1.2896em;
    color: #000000;
}

.userInputField {
    float: left;
    width: 70%;
    margin-bottom: 1em;
    padding: 0.2em;;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 1.2em;
    color: #000000;
}
.userSubmitButton {
    padding: 0.5em;
    clear: both;
    display: block;
    cursor: pointer;
    font-size: 1.2896em;
    border: none;
    background-color: #D32F2F;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0.5em;
}
.userSubmitButton:hover{
    background-color: #D32F2F;
}
.userChoiceLabel {
    font-size: 1.286em;
}

.userNewsLetterLabel {
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.2896em;
    color: #000000;
}

#userLogoutButton {
    padding: 0.5em 0.3em 0.5em 0.3em;
    display: block;
    cursor: pointer;
    font-size: 1.2896em;
    border: none;
    background-color: #D32F2F;
    color: #FFFFFF;
    text-transform: uppercase;
    float: right;
    clear: left;
    margin-right: 10%;
    text-align: center;
}

#userLogoutButton:hover{
    background-color: #D32F2F;
}

#userLogoutButton a{
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 955px) {

    #userContainer{
        padding-top: 3em;
    }

    #userContainer h1 {
        font-size: 3em;
    }

    #userContainer h2 {
        font-size: 2.5em;
    }

    .userInputLabel {
        font-size: 2em;
        width: 100%;
        margin-bottom: 0.5em;
    }

    .userInputField {
        font-size: 2em;
        width: 100%;
    }

    .userSubmitButton {
        font-size: 2em;
    }

    .userNewsLetterLabel {
        font-size: 1.5em;
    }

    #userLogoutButton {
        font-size: 2em;
        width: 30%;
        margin-top: 2.5em;
    }
}

@media only screen and (max-width: 767px) {


    #userContainer h1 {
        font-size: 2em;
    }

    #userContainer h2 {
        font-size: 1.5em;
    }

    .userInputLabel {
        font-size: 1.2em;
    }

    .userInputField {
        font-size: 1em;
    }

    .userSubmitButton {
        font-size: 1em;
    }


    #userLogoutButton {
        font-size: 1em;
        width: 30%;
        margin-top: 2.5em;
    }
}

@media only screen and (min-width: 956px) {

    #userLogoutButton:hover {
        -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -moz-transform:scale(1.2);
    }

    .userSubmitButton:hover {
        -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -moz-transform:scale(1.2);
    }

}


.errorMessage {
    width: 10%;
    padding: 0.5;
    background-color: #000;
    color: #FFF;
}
